@using WebApplication16;
@using WebApplication16.Models;
@model List<Page>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="Pages" asp-action="Index" method="get">
    <p>

        <table>
          
            <tr>
                <td>UrlName</td>
                <td> <input type="text" name="url" class="form-control"></td>
            </tr>
            <tr>
                <td>Title</td>
                <td> <input type="text" name="title" class="form-control"></td>
            </tr>
            <tr>
                <td>
                            <input type="submit" value="Filter" class="btn btn-default" />
                    </td>
            </tr>
        </table>
       

    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @{
                    var added=@Html.DisplayNameFor(model => model[0].AddedDate);
                    var content=  @Html.DisplayNameFor(model => model[0].Content);
                    var  description =@Html.DisplayNameFor(model => model[0].Description);
                    var urlname=@Html.DisplayNameFor(model => model[0].UrlName);
                    var title=@Html.DisplayNameFor(model => model[0].Title);
                }
                <a  href="/Pages/Index?order=@(ViewBag.Order)&prop=@added">@added</a>
            </th>
            <th>
                <a  href="/Pages/Index?order=@(ViewBag.Order)&prop=@title">@title</a>
                </th>
        
            <th>
                <a  href="/Pages/Index?order=@(ViewBag.Order)&prop=@description">@description</a>
            </th>
            <th>
                 <a  href="/Pages/Index?order=@(ViewBag.Order)&prop=@urlname">@urlname</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.AddedDate
            </td>
            <td>
                @item.Title
            </td>
      
            <td>
                @item.Description
            </td>
            <td>
                @item.UrlName
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PageId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PageId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PageId">Delete</a>
            </td>
        </tr>
}

  
    </tbody>
</table>


      <ul class="pagination">
           @for(int i =0;i<=ViewBag.Count/10;i++){
            <li><a  href="/Pages/Index?take=10&skip=@(i*10)">@(i+1)</a></li>
        }

      </ul>
