@using System;
@model IEnumerable<Task2.Models.NavLink>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-bordered table-condensed table-striped">
    <thead>
        <tr>
            @{
                  var id=@Html.DisplayNameFor(model => model.NavLinkId);
                var pos=@Html.DisplayNameFor(model => model.Position);
                var title=@Html.DisplayNameFor(model => model.Title);
                var page=@Html.DisplayNameFor(model => model.Page);
                var pageid=@Html.DisplayNameFor(model => model.Page.PageId);
                var par=@Html.DisplayNameFor(model => model.ParentLinkID);
            }
            <th>
                  <a  href="/NavLinks/Index?order=@(ViewBag.Order)&prop=@id">@id</a>
                
            </th>
            <th>
                  <a  href="/NavLinks/Index?order=@(ViewBag.Order)&prop=@pos">@pos</a>
                
            </th>
            <th>
                 <a  href="/NavLinks/Index?order=@(ViewBag.Order)&prop=@title">@title</a>
            </th>
            <th>
                 <a  href="/NavLinks/Index?order=@(ViewBag.Order)&prop=@page">@page</a>

            </th>
              <th>
                 <a  href="/NavLinks/Index?order=@(ViewBag.Order)&prop=@par">@par</a>

            </th>
              <th>
                 <a  href="/NavLinks/Index?order=@(ViewBag.Order)&prop=@pageid">@pageid</a>

            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NavLinkId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Position)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Page.UrlName)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.ParentLinkID)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.Page.PageId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.NavLinkId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.NavLinkId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.NavLinkId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@{
    var take=(int)ViewData["take"];

}
 <ul class="pagination">
           @for(int i =0;i<Math.Ceiling((double)ViewBag.Count/@take);i++){
            <li><a  href="/NavLinks/Index?take=@take&skip=@(i*@take)@ViewBag.orderreq@ViewBag.propreq">@(i+1)</a></li>
        }

      </ul>